body{
    margin: 0 auto;
    width: 80%;
    background-color:honeydew;
    text-align: center;
}
h1{
    color: darkblue;
} 
.container{
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    display: flex;
}
.colm{
    margin: 2rem;
    padding: 2rem;
}
